@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.btn-primary {
  @apply cursor-pointer rounded-3xl bg-primary px-[30px] py-[8px] text-white transition-all hover:opacity-70 disabled:cursor-not-allowed disabled:opacity-50;
}

.slick-dots {
  @apply !flex w-full justify-start;
}

.slick-dots li {
  @apply !m-0;
}

.slick-dots .slick-active div {
  @apply scale-150 bg-primary;
}

.slick-dots div {
  @apply !m-0 !mt-8;
}
